@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);

body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

.container {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  width: 700px;
  margin: 60px auto;
}

.container p {
  font-family: 'Lora', serif;
  font-size: 20px;
}

.link-medium {
  font-size: 20px;
  text-align: left;
  background-color: #bee5d3;
  text-decoration: none;
  font-style: italic;
}

.link-medium:hover {
  background-color: #16c79a;
}

#banner {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  padding: 150px 0;
  text-align: center;
}

#banner h1 {
  font-family: 'Lora', serif;
  font-size: 40px;
  color: green;
}

#banner p {
  font-family: 'Lora', serif;
  font-size: 30px;
  color: grey;
}


